[Desktop Entry]
Type=Application
Name=Winamp
GenericName=Audio Player
Comment=It really whips the llama's ass
Exec=winamp %F
Icon=winamp
Terminal=false
Categories=AudioVideo;Audio;Player;
MimeType=audio/mpeg;audio/x-mp3;audio/flac;audio/x-flac;audio/ogg;audio/x-vorbis+ogg;audio/x-wav;audio/wav;audio/aac;audio/mp4;audio/x-m4a;audio/x-ms-wma;audio/x-mpegurl;audio/x-scpls;
StartupWMClass=winamp.exe
